.announcement {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;

  &__content_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }

  &__items_wrapper {
    width: 40%;
    max-width: 550px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }

  &__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: $secondary-color-light-grey;

    &-title {
      font-size: 16px;
      font-weight: 400;
    }

    &_text-holder {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      padding: 10px;
    }

    &_link {
      display: block;
    }

    &_img {
        width: 150px;
        height: auto;
        aspect-ratio: 3 / 2;

        &-wrapper {

        }
    }
  }

  &__banners_wrapper {
    width: 60%;
    max-width: 850px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }
  &__banner_item {
    width: 100%;
    height: 200px;
    background-color: #d0baea;
  }

}
