.announcement {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;

  &__content_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }
  &__items_wrapper {
    width: 40%;
    max-width: 550px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }
  &__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: $secondary-color-light-grey;

    &-title {
      font-size: 16px;
      font-weight: 400;
    }
    &_text-holder {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      padding: 10px;
    }

    &_link {
      display: block;
    }
    &_img {
      width: 150px;
      aspect-ratio: 3 / 2;
      object-fit: cover;

      &-wrapper {
        max-width: 285px;
      }
    }
  }
  &__banners_wrapper {
    width: 60%;
    max-width: 850px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }
  &__banner_item {
    width: 100%;
    max-height: 100px;
    aspect-ratio: 8 / 1;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    &_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top left;
    }
  }
}

//adopt. style for screen 960px

@media screen and (max-width: 960px) {
  .announcement {
    margin-bottom: 35px;

    &__content_wrapper {
      flex-direction: column;
    }
    &__items_wrapper {
      width: auto;
      max-width: initial;
      flex-direction: row;
      justify-content: space-between;
      gap: 15px;
    }
    &__item {
      flex-direction: column;

      &_img {
        width: 100%;
        height: auto;

        &-wrapper {
          width: 100%;
          aspect-ratio: 3 / 2;
        }
      }
    }
    &__banners_wrapper {
      width: 100%;
      max-width: 930px;
    }
  }
}

//adopt. style for screen 800px
@media screen and (max-width: 801px) {

  .announcement {
    &__items_wrapper {
      flex-direction: column;
      width: 100%;
    }
    &__item {
      flex-direction: row;

      &_img {
        &-wrapper {
        }
      }
    }
  }
}

