.banner {

  &__wrapper {
    position: relative;
    margin-bottom: 55px;
  }

  &__text-wrapper {
    position: absolute;
    top: 60%;
    left: 0;
    width: auto;
    max-width: 600px;
    margin-left: 15px;
    background-color: rgba($extra-celestial-color, 0.75);
    text-align: center;
  }

  &__text-title {
    font-size: 36px;
    line-height: 38px;
    font-weight: 400;
    color: #ffffff;
    padding: 10px 25px;
  }

  &__img {
    height: 415px;
    background: $banner-background-img no-repeat center;
    background-size: cover;
    border-bottom: 5px solid $extra-celestial-color;
    border-top: 5px solid $extra-celestial-color;
  }


}

//adopt. style for screen 1024px

@media screen and (max-width: 1025px) {

  .banner {
    &__wrapper {
      margin-bottom: 35px;
    }


    &__img {
      height: 350px;
    }

    &__text-title {
      font-size: 30px;
      line-height: 30px;
    }
  }
}

//adopt. style for screen 800px
@media screen and (max-width: 801px) {

  .banner {
    &__wrapper {
      margin-bottom: 25px;
    }


    &__img {
      height: 300px;
    }

    &__text-title {
      font-size: 28px;
      line-height: 28px;
    }
  }
}