.footer {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  background-color: $secondary-color-light-grey;
  padding-top: 25px;
  padding-bottom: 25px;

  &__logo-holder_wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
  }
  &__logo-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  &__logo {
    width: 55px;
    height: 55px;

    &_title {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__copyright-holder_wrapper {
    text-align: center;
    width: 100%;
  }
  &__copyright {
    display: inline-block;
    text-transform: none;
  }
  &__social-holder_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 35px;
  }
  &__menu {
    &_wrapper {
      width: 350px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 15px;
    }
    &_link {
      display: inline-block;
      color: $extra-celestial-color;
      font-weight: 600;
    }
  }
}

//adopt. style for screen 800px
@media screen and (max-width: 801px) {
  .footer {
    &__logo-holder_wrapper {
      gap: 20px;
    }
  }
}

//adopt. style for screen 600px
@media screen and (max-width: 601px) {
  .footer {
    padding-top: 10px;
    flex-direction: column-reverse;
    align-items: center;

    &__logo-holder_wrapper {
      align-items: center;
      width: 100%;
    }
    &__logo-holder,
    &__social-holder_wrapper,
    &__copyright-holder_wrapper {
      justify-content: center;
    }
    &__menu_wrapper {
      display: none;
    }
  }
}