.news {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;

  &__title_wrapper {
  }

  &__title {
  }

  &__content {
    &_wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      gap: 20px;
    }

    &_item {
      width: 385px;
      height: 400px;
      background-color: $secondary-color-light-grey;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 15px;

      &-link {
        display: block;
      }

      &_img {
        width: 385px;
        height: auto;
        aspect-ratio: 3 / 2;

        &-wrapper {
        }
      }

      &_title {
        padding: 5px;
      }
      &_date {
        display: inline-block;
        font-weight: 400;
        padding: 5px;
      }
    }
  }
}