.news {
  display: flex;
  flex-direction: column;

  &__title_wrapper {
  }
  &__title {
  }
  &__content {
    &_wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      gap: 20px;
    }
    &_item {
      max-width: 415px;
      height: 380px;
      max-height: 380px;
      background-color: $secondary-color-light-grey;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;

      &-link {
        display: block;
      }
      &_img {
        width: 100%;
        height: auto;
        aspect-ratio: 3 / 2;

        &-wrapper {
        }
      }
      &_title {
        padding: 0 5px;
      }
      &_date {
        display: inline-block;
        font-weight: 400;
        padding: 0 5px;
      }
    }
  }
}

//adopt. style for screen 1024px
@media screen and (max-width: 1025px) {

  .news {
    &__content {
      &_item {
        max-height: 350px;

        &_title {
          font-size: 16px;
        }
      }
    }
  }
}

//adopt. style for screen 800px
@media screen and (max-width: 801px) {
  .news {
    &__content {
      &_wrapper {
        flex-wrap: wrap;
      }
      &_item {
        gap: 5px;
        max-height: 380px;
        &_title {
          font-size: 16px;
        }
      }
    }
  }
}