.news {
  display: flex;
  flex-direction: column;

  &__title_wrapper {
    width: 100%;
    margin-bottom: 35px;
  }

  &__title {
    margin-left: 30px;
  }


  &__content {

    &_wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      gap: 20px;


    }

    &_item {
      width: 385px;
      height: 400px;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;

      &_img {
        width: 385px;
        height: auto;
        aspect-ratio: 3 / 2;

        &-wrapper {
          margin-bottom: 20px;
        }
      }
    }

  }

}