.searching__section {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  background: url("../../img/backgrounds/bg_gemeinde.jpg") no-repeat center;
  background-size: cover;

  &_form {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 70%;
    max-width: 600px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgba($secondary-color-light-grey, 0.87);
    transform: translateX(-50%);
    padding: 25px;
    gap: 20px;

    div {
      display: flex;
      width: 100%;
        justify-content: space-between;
    }
    &_title {
      font-size: 20px;
      color: $extra-celestial-color;
      letter-spacing: 0.05em;
    }
    &_input {
      width: 70%;
      max-width: 600px;
      height: 45px;
      padding: 0 10px;
      font-size: 16px;
      font-weight: 400;
      border: none;
      outline: none;
    }
    &_button {
      width: 100px;
      height: 45px;
      margin: 0 15px;
      background-color: $extra-celestial-color;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      border: none;
      cursor: pointer;
    }
  }
}


//adopt. style for screen 600px
@media screen and (max-width: 601px) {

  .searching__section {
    &_form {
      padding: 15px;
    }
  }
}

//adopt. style for screen 480px
@media screen and (max-width: 481px) {

  .searching__section {
    &_form {
      align-items: center;
      div {
        flex-direction: column;
        align-items: center;
        gap: 15px;
      }

      &_input {
        width: 90%;
        height: 35px;
        padding: 0 5px;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}