.header,
.banner__wrapper,
.main,
.footer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.title-font-style {
  font-family: $title-font-family;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.submenu-font-style {
  font-family: $submenu-font-family;
  color: $submenu-grey-color;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

.section__title {
  &_wrapper {
    width: 100%;
    margin-bottom: 35px;
    padding-left: 30px;
  }
  &_font-style {
    font-family: $title-font-family;
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15em;
    text-decoration: none;
    text-transform: uppercase;

    &::after {
      display: block;
      content: '';
      position: absolute;
      left: -30px;
      top: 50%;
      width: 20px;
      height: 20px;
      background-color: $extra-celestial-color;
      transform: translateY(-50%);
    }
  }
}

.item-title-font-style {
  font-family: $title-font-family;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-decoration: none;
}

//adopt. style for screen 1024px
@media screen and (max-width: 1025px) {
  .section__title {
    &_wrapper {
      margin-bottom: 20px;
    }
  }
}