// основной цвет, второстепенный цвет, цвет фона, цвета текста, шрифты: шрифты для обычного текста, для заголовков,

//colors
$primary-color-celestial: #4b90cd;
$secondary-color-light-grey: #f5f5f5;
$secondary-color-dark-grey: #e6e6e6;
$primary-color-main-menu: #39444e;
$extra-celestial-color: #548ec2;


$submenu-grey-color: #9ea1a6;

//fonts

$title-font-family: 'PTSans', 'Arial', sans-serif;
$submenu-font-family: 'Farro', 'Arial', sans-serif;
$subtitle-font-family: 'Montserrat', 'Arial', sans-serif;

//background

$banner-background-img: url('../img/bg_img.JPG');