//styles import

@import 'reset';
@import "fonts";
@import 'variables';
@import 'general';

//blocks

@import "blocks/header";
@import "blocks/banner";
@import "blocks/main";
@import "blocks/news";
@import "blocks/announcement";
@import "blocks/video-holder";
@import "blocks/searching-section";