@import url("../fonts/Montserrat/Montserrat.css");
@import url("../fonts/Farro/Farro.css");
@import url("../fonts/PT_Sans/PTSans.css");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header,
.banner__wrapper,
.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.title-font-style {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.submenu-font-style {
  font-family: "Farro", "Arial", sans-serif;
  color: #9ea1a6;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

.section__title_wrapper {
  width: 100%;
  margin-bottom: 35px;
  padding-left: 30px;
}
.section__title_font-style {
  font-family: "PTSans", "Arial", sans-serif;
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
}
.section__title_font-style::after {
  display: block;
  content: "";
  position: absolute;
  left: -30px;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #548ec2;
  transform: translateY(-50%);
}

.item-title-font-style {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  height: 170px;
  padding-top: 20px;
  margin-bottom: 55px;
}
.header__wrapper {
  width: 100%;
}
.header__logo-wrapper {
  display: flex;
  width: 350px;
  flex-direction: row;
  align-items: flex-end;
  gap: 15px;
}
.header__logo {
  width: 80px;
  height: 80px;
}
.header__logo_title {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-family: "Farro", "Arial", sans-serif;
  font-weight: 700;
}
.header__logo_title span {
  font-weight: normal;
}
.header__menu {
  width: 100%;
  max-width: 1440px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #548ec2;
}
.header__menu_link {
  width: 135px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  color: white;
  text-transform: uppercase;
}
.header__menu_link:not(:last-child) {
  border-right: 1px solid #fff;
}
.header__top-content_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
}
.header__submenu_wrapper {
  width: 65%;
  max-width: 950px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 15px;
}
.header__submenu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}
.header__search {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.header__search_input {
  width: 120px;
  height: 35px;
  border: 1px solid #9ea1a6;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
  color: #39444e;
  outline: none;
}
.header__search_input:focus {
  border: 2px solid #4b90cd;
}

.banner__wrapper {
  position: relative;
  margin-bottom: 55px;
}
.banner__text-wrapper {
  position: absolute;
  top: 60%;
  left: 0;
  width: auto;
  max-width: 600px;
  margin-left: 15px;
  background-color: rgba(84, 142, 194, 0.75);
  text-align: center;
}
.banner__text-title {
  font-size: 36px;
  line-height: 38px;
  font-weight: 400;
  color: #ffffff;
  padding: 10px 25px;
}
.banner__img {
  height: 415px;
  background: url("../img/backgrounds/bg_img.JPG") no-repeat center;
  background-size: cover;
  border-bottom: 5px solid #548ec2;
  border-top: 5px solid #548ec2;
}

.main {
  display: flex;
  flex-direction: column;
}

.news {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
}
.news__content_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  gap: 20px;
}
.news__content_item {
  width: 385px;
  height: 400px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
.news__content_item-link {
  display: block;
}
.news__content_item_img {
  width: 385px;
  height: auto;
  aspect-ratio: 3/2;
}
.news__content_item_title {
  padding: 5px;
}
.news__content_item_date {
  display: inline-block;
  font-weight: 400;
  padding: 5px;
}

.announcement {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
}
.announcement__content_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.announcement__items_wrapper {
  width: 40%;
  max-width: 550px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.announcement__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
}
.announcement__item-title {
  font-size: 16px;
  font-weight: 400;
}
.announcement__item_text-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 10px;
}
.announcement__item_link {
  display: block;
}
.announcement__item_img {
  width: 150px;
  height: auto;
  aspect-ratio: 3/2;
}
.announcement__banners_wrapper {
  width: 60%;
  max-width: 850px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.announcement__banner_item {
  width: 100%;
  height: 200px;
  background-color: #d0baea;
}

.video__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  justify-content: space-between;
}
.video__section_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  background-color: #f5f5f5;
}
.video__container {
  width: 300px;
  height: auto;
  aspect-ratio: 3/2;
  background-color: #2C4058;
}

.searching_section {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  margin-bottom: 55px;
  background: url("../../img/backgrounds/bg_gemeinde.jpg") no-repeat center;
  background-size: cover;
}
.searching_section__form {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 70%;
  max-width: 600px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 0.87);
  transform: translateX(-50%);
  padding: 25px;
  gap: 20px;
}
.searching_section__form div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.searching_section__form_title {
  font-size: 20px;
  color: #548ec2;
  letter-spacing: 0.05em;
}
.searching_section__form_input {
  width: 70%;
  max-width: 600px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  outline: none;
}
.searching_section__form_button {
  width: 100px;
  height: 45px;
  margin: 0 15px;
  background-color: #548ec2;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
